@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/static/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/static/fonts/Montserrat-Bold.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5; 
}

.container { 
    max-width: 340px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.tab-pane:not(.show) {
    display: none;
}

.tab-pane.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.form-login {
    display: flex;
    flex-direction: column;
}

.mb-4 {
    --mdb-gutter-x: 0;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 1rem;
}

.mb-2 {
    font-family: 'Montserrat-Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem !important;
}

.btn-width {
    width: 50%; 
}

form.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position-relative {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav-pills {
    display: flex;
    justify-content: center;
}

.nav-pills .nav-link {
    font-family: 'Montserrat-Bold', sans-serif;
    background-color: #e9ecef; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    --mdb-nav-pills-link-padding-top: 16px;
    --mdb-nav-pills-link-padding-bottom: 15px;
    --mdb-nav-pills-link-padding-x: 16px;
}

a#tab-login.nav-link {
    display: flex;
    justify-content: center;
    width: 132px;
}

.nav-pills .nav-link.active {
    background-color: #007bff; 
    color: #fff; 
}

.nav-pills .nav-link:hover {
    background-color: #ced4da; 
}

/* Modal */
.modal-edit .modal-content {
    text-align: center;
}