body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5; 
}

.container { 
    max-width: 400px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.tab-pane {
    display: none; 
}

.tab-pane.show {
    display: block;
}

form.form-login {
    display: flex;
    flex-direction: column;
}

.mb-4 {
    --mdb-gutter-x: 0;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 1rem;
}

form.form-register {
    display: flex;
    flex-direction: column;
}


.nav-pills .nav-link {
    background-color: #e9ecef; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s; 
}

.nav-pills .nav-link.active {
    background-color: #007bff; /* Cor de fundo da aba ativa */
    color: #fff; /* Cor do texto da aba ativa */
    transform: translateY(-2px); /* Efeito de elevação na aba ativa */
}

.nav-pills .nav-link:hover {
    background-color: #ced4da; /* Cor de fundo das abas ao passar o mouse */
}